/* same css is used for register.html and logout.html */

.login{
    border: 1px solid rgb(64, 64, 64);
    display: block;
    height: 420px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    width: 500px;
}

.login-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 450px;
}
.login-button {
    margin-left: 50px;
}

.login-header {
    color: rgb(64, 64, 64);
    background-color: rgba(228, 223, 223, 0.721);
    border: 1px solid rgb(64, 64, 64);
    height: 140px;
    line-height: 110px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    text-align: center;
    width: 450px;
}
.register-box {
    float: right;
    margin-right: 71px;
}

.submit-box {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    width: 232px;

}

table {
    margin: 0 auto;
}