a {
    color: rgb(64, 64, 64);
    margin: 0px;
    text-decoration: none;
}

body{
    margin: 0;
    overflow-x: hidden;
    padding: 0;

}

h1 {
    margin-bottom: 0px;
    margin-left: 10px;
    margin-top: 8px;
    size: 45px;
}

header {
    align-items: center;
    background-color: rgba(228, 223, 223, 0.721);
    border: 1px solid rgb(64, 64, 64);
    height: 55px;
    margin-bottom: 25px;
    overflow: hidden;
    width: 100%;
}

.left {
    display: flex;
    flex-direction: row;
    float: left;
    margin-bottom: 0px;
    margin-top: 5px;
    margin-left: 25px;
}

.right {
    align-items: flex-end;
    display: flex;
    flex-direction: row-reverse;
    font-size: 17px;
    margin: 20px 25px 0px 20px;
}
