.container {
    position: absolute; top:130px; left:100px; 
    width: 600px;
    padding: 50px;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.size-25 {
    width: 20%;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.size-75 {
    width: 80%;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.block {
    display: block;
    width: 100%;
    border: none;
    background-color: #585858;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }