hr {
    margin-bottom: 0;
}

.iconify {
    color: rgb(64, 64, 64);
}

.image-container {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 600px;
    width: 650px;
}

img {
    height: auto;
    object-fit: contain;
    width: 650px;
}

p {
    margin: 0;
}

.post{
    border: 1px solid rgb(64, 64, 64);
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

.post-container {
    display: block;
    padding: 10px;
    border: 1px rgb(64, 64, 64);
    border-style: solid none;
    min-height: 600px;
    word-wrap: break-word;

}

.post-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 620px;
}


.post-description {
    margin-bottom: 0;
    margin-left: 15px;
    margin-top: 0;
}


.post-footer .icon-text {
    margin-bottom: 6px;
   }

.post-footer .right {
    gap: 10px;
    margin: 0;
    width: 325px;
}

.post-header {
    display: flex;
    flex-direction: row;
    font-size: 17px;
    height: 60px;
}

.post-header .left {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0;
    margin-left: 10px;
    margin-right: 0px;
    width: 325px;
}

.post-header .right {
    gap: 10px;
    margin: 0;
    width: 325px;
}

.post-header .right a {
    margin-right: 10px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.post-publisher {
    margin-bottom: 10px;
    margin-left: 15px;
    margin-top: 5px;
}
.post-title {
    margin: 15px 15px 0 15px;
}

.right {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 50px;
    justify-content: flex-end;
    margin: 10px;
}