{% extends 'bettersocial/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bettersocial/edit_profile.css' %}">
<h2 style="margin-left: 100px;">Comment on a Post</h2>
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <!-- Fields can be expanded {{ form.field.value|default_if_none:"" }}-->

        <div class="row">
            <div class="size-25">
                {{ form.comment.label_tag }}
            </div>
            <div class="size-75">
                {{ form.comment }}
            </div>
        </div>
        <div class="row">
            <div class="size-25">
                <button>Add Comment</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}