{% extends 'bettersocial/base.html' %}
{% block content %}

    <h1>Comment on a Post</h1>

    <form method="POST">
        {% csrf_token %}
        <!-- Fields can be expanded -->
        <table>
            <tr>
                <td>{{ form.author_uuid.label_tag }}</td>
                <td>{{ user.author.user }}</td>
            </tr>
            <tr>
                <td>{{ form.comment.label_tag }}</td>
                <td>{{ form.comment }}</td>
            </tr>
        </table>

        </br></br>
        <button>Add Comment</button>
    </form>

{% endblock %}