<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <!-- Style Sheet and References -->
    <link rel="stylesheet" type="text/css" href="{% static 'bettersocial/base.css' %}">
    <script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>

    <meta charset="utf-8">
    <meta name="description" content="CMPUT 404 Group Project">

    <title>BetterSocial</title>
</head>
<body>
<header>
    <div class="flex-container">
        <div id="home-button" class="flex-grow flex-container">
            <a class="home-icon" href="{% url 'bettersocial:index' %}"><span href="{% url 'bettersocial:index' %}"
                                                                             class="iconify" data-icon="cil:home"
                                                                             data-width="40px"
                                                                             data-height="40px"></span></a>
            <h1><a href="{% url 'bettersocial:index' %}">BetterSocial</a></h1>
        </div>

        {% if user.is_authenticated %}
            <div class="header-item">
                <a class="inbox-button"
                   href="{% url 'bettersocial:inbox' %}">Inbox</a>
            </div>
        {% endif %}

        {% if user.is_authenticated %}
            <div class="header-item">
                <a class="friends-button" href="{% url 'bettersocial:friends' %}">Friends</a>
            </div>
        {% endif %}

        {% if user.is_authenticated %}
            <div class="header-item">
                <a class="profile-button"
                   href="{% url 'bettersocial:profile' user.author.pk %}">{{ user.author.display_name }}</a>
            </div>
        {% endif %}

        {% if user.is_authenticated %}
            <div class="header-item">
                <a type="button" style="padding: 5pt;" href="{% url 'bettersocial:post' %}">Make Post</a>
            </div>
            <div class="header-item">
                <a type="button" style="padding: 5pt;" href="{% url 'users:logout' %}">Log Out</a>
            </div>
        {% else %}
            <div class="header-item">
                <a type="button" style="padding: 5pt;" href="{% url 'users:login' %}">Log In</a>
            </div>
            <div class="header-item">
                <a type="button" style="padding: 5pt;" href="{% url 'users:register' %}">Register</a>
            </div>
        {% endif %}

    </div>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
</footer>
</body>
</html>
