{% extends 'bettersocial/base.html' %}
{% block content %}
{% load static %}
<!-- Style Sheet and References -->
<link rel="stylesheet" type="text/css" href="{% static 'bettersocial/index.css' %}">

    {% for post in object_list %}
        <div class="post">
            <div class="post-header">
                <!-- TODO: add if user has profile pic show pic if not show icon -->
                <!-- TODO: should change href to user profile link -->
                <div class="left">
                    <a href="{% url 'bettersocial:profile' user.author.uuid %}">
                        <span class="iconify" data-icon="iconoir:profile-circled" data-width="42" data-height="42"></span>
                    </a>
                    <!-- TODO: should change href to user profile link -->
                    <a href="{% url 'bettersocial:profile' user.author.uuid %}">
                        <h3>{{ user.username }}</h3>
                    </a>
                </div>

                <!-- TODO: change the time to be dynamically added -->
                <!-- TODO: change the link to be dynamically added and href -->
                <div class="right">
                    <p>4 mins ago...</p>
                    <a href="">http://webapp.herokuapp.com/</a>
                </div>
            </div>

            <!-- TODO: add logic for type of post -->
            <div class="post-container">
                {{ post.description|slice:":100" }}
                </br></br>
                {% if post.image_content %}
                    <img src="{{ post.image_content.url }}" width='600' height='400'>
                {% endif %}
            </div>

            <div class="post-footer right">

            {% if user.is_authenticated %}
                {% if user.author.uuid == post.author.uuid %}
                    <a class="icon-text" href="{% url 'bettersocial:edit_post' post.pk %}">Edit</a>
                    <a class="icon-text" href="{% url 'bettersocial:delete_post' post.pk %}">Delete</a>
                {% endif %}
            {% endif %}

                <a href="">
                    <span class="iconify" data-icon="bi:share" data-width="30" data-height="30"></span>
                </a>
            <a class="icon-text" href="">Share Post</a>

                <!-- TODO: Edit href for share likes and dynamically add number of likes -->
                <!-- TODO: Pluralize likes  -->
                <a href="">
                    <span class="iconify" data-icon="ant-design:like-outlined" data-width="30" data-height="30"></span>
                </a>
            <a class="icon-text" href="">Likes</a>

                <!-- TODO: Edit href for comments and dynamically add number of comments -->
                <!-- TODO: Pluralize comments  -->
                <a href="">
                    <span class="iconify" data-icon="ant-design:comment-outlined" data-width="30" data-height="30"></span>
                </a>
            <a class="icon-text" href="">Comments</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}
