{% extends 'bettersocial/base.html' %}
{% block content %}
{% load static %}
<!-- Style Sheet and References -->
<link rel="stylesheet" type="text/css" href="{% static 'bettersocial/profile.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bettersocial/index.css' %}">

    <div class="profile">
        <div class="profile-header">
            <div class="profile-pic">
                <span class="iconify" data-icon="healthicons:ui-user-profile-outline" data-width="150" data-height="150"></span>
            </div>

            <div class="profile-info">
                    <h1> {{ author.display_name }}</h1>
                    <p>{{ author.user.username }}</p>
                    {% if author.user.email %}
                        <p> Email: {{ author.user.email }}</p>
                    {% endif %}

                    {% if author.github_url %}
                        <p>Github: <a href="{{ current_user.user.github_url }}">{{ author.github_url }}</a></p>
                    {% endif %}
                    <!-- <p>Bio: This is a John Doe's bio</p> -->
            </div>

            <!-- TODO: connect friends list to friend button -->
            <div class="profile-friend-btn">
                <button>Friends</button>
                    <!-- TODO: connect edit profile button -->
                    {% if user.author.uuid == author.uuid %}
                        <button>Edit Profile</button>
                    <!-- TODO: connect unfriend button -->
                    {% elif author_following_user and user_following_author %}
                        <form action="{% url 'bettersocial:profile_action' author.uuid 'unfollow'%}" method="post">
                            {% csrf_token %}
                            <button>Unfriend</button>
                        </form>
                    {% elif user_following_author %}
                    <!-- TODO: connect unfollow button -->
                        <form action="{% url 'bettersocial:profile_action' author.uuid 'unfollow'%}" method="post">
                            {% csrf_token %}
                            <button>Unfollow</button>
                        </form>
                    {% else %}
                    <!-- TODO: connect follow button -->
                        <form action="{% url 'bettersocial:profile_action' author.uuid 'follow'%}" method="post">
                            {% csrf_token %}
                            <button>Follow</button>
                        </form>
                    {% endif %}
            </div>
        </div>


    {% for post in posts %}    
        <div class="profile-post">
            <div class="post-header">
                <!-- TODO: add if user has profile pic show pic if not show icon -->
                <div class="left">
                    <a href="{% url 'bettersocial:profile' post.author.uuid %}">
                        <span class="iconify" data-icon="iconoir:profile-circled" data-width="42" data-height="42"></span>
                    </a>
                    <a href="{% url 'bettersocial:profile' post.author.uuid %}">
                        <h3>{{ post.author.user.username }}</h3>
                    </a>
                </div>

                <div class="right">
                    <p>{{post.published}}</p>
                    <!-- is it source or origin? -->
                    <a href="{{post.source}}">{{post.source}}</a>
                </div>
            </div>

            
            <!-- TODO: add logic for content-type of post text/img/markdown -->
            <div class="post-container">
                <h2 class="post-title">{{post.title}}</h2>
                <p class="post-description"> {{post.description}}</p>
                <hr>
                {{ post.content }}
            </div>

            <div class="post-footer right">
                    <!-- TODO: Edit href for share post -->
                    <a href="">
                        <span class="iconify" data-icon="bi:share" data-width="30" data-height="30"></span>
                    </a>
                <a class="icon-text" href="">Share Post</a>
                    <!-- TODO: Edit href for share likes and dynamically add number of likes -->
                    <!-- TODO: Pluralize likes  -->
                    <a href="">
                        <span class="iconify" data-icon="ant-design:like-outlined" data-width="30" data-height="30"></span>
                    </a>
                <a class="icon-text" href="">Likes</a>
                    <!-- TODO: Edit href for comments and dynamically add number of comments -->
                    <!-- TODO: Pluralize comments  -->
                    <a href="">
                        <span class="iconify" data-icon="ant-design:comment-outlined" data-width="30" data-height="30"></span>
                    </a>
                <a class="icon-text" href="">{{post.comments}}Comment{{post.comments|pluralize}}</a>
            </div>

        {% endfor %}

    </div>
{% endblock %}
