{% extends 'bettersocial/base.html' %}
{% block content %}
    {% load static %}
    <!-- Style Sheet and References -->
    <link rel="stylesheet" type="text/css" href="{% static 'bettersocial/profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bettersocial/index.css' %}">
    <script type="text/javascript" src="{% static "bettersocial/profile.js" %}"></script>
    
    <div class="profile">
        <div class="profile-header">
            <div class="profile-pic">
                <span class="iconify" data-icon="healthicons:ui-user-profile-outline" data-width="150"
                      data-height="150"></span>
            </div>

            <div class="profile-info">
                <h1> {{ author.display_name }}</h1>
                <p>{{ author.user.username }}</p>
                {% if author.user.email %}
                    <p> Email: {{ author.user.email }}</p>
                {% endif %}

                {% if author.github_url %}
                    <p>Github: <a href="{{ author.github_url }}">{{ author.github_url }}</a></p>
                {% endif %}
                <!-- <p>Bio: This is a John Doe's bio</p> -->
            </div>

            <!-- TODO: connect friends list to friend button -->
            <div class="profile-friend-btn">
                <!-- Don't think we need a friends list button on profile of users -->
                <!-- <button>Friends</button> -->
                <!-- TODO: connect edit profile button -->
                {% if user.author.uuid == author.uuid %}
                    <form action="{% url 'bettersocial:edit_profile' %}">
                        {% csrf_token %}
                        <button>Edit Profile</button>
                    </form>
                    <!-- TODO: connect unfriend button -->
                {% elif author_following_user and user_following_author %}
                    <form action="{% url 'bettersocial:profile_action' author.uuid 'unfollow' %}" method="post">
                        {% csrf_token %}
                        <button>Unfriend</button>
                    </form>
                {% elif user_following_author %}
                    <!-- TODO: connect unfollow button -->
                    <form action="{% url 'bettersocial:profile_action' author.uuid 'unfollow' %}" method="post">
                        {% csrf_token %}
                        <button>Unfollow</button>
                    </form>
                {% else %}
                    <!-- TODO: connect follow button -->
                    <form action="{% url 'bettersocial:profile_action' author.uuid 'follow' %}" method="post">
                        {% csrf_token %}
                        <button>Follow</button>
                    </form>
                {% endif %}

                {% if author.github_url %}
                    <script> var git = "{{ author.github_url }}" </script>
                    <button onclick="showGitActivity(git)">Github Activity</button>
                {% endif %}
            </div>
        </div>

        <div id="github-activity" style="border: 1px solid black" hidden>
        </div>
        <h1> My Post Activity Stream ...</h1>
        <br>

        {% for post in posts %}
            {% if user.author.uuid == author.uuid %}
                {% include 'bettersocial/post-preview.html' %}
            {% endif %}
        {% endfor %}

    </div>
{% endblock %}
