{% extends 'bettersocial/base.html' %} {% block content %} {% if object_list %}
<div
	class="stream"
	style="display: flex; flex-direction: column; overflow: hidden"
>
	{% for post in object_list %}
	<div class="post" style="">
		<h2>Post</h2>
		<p>Author: {{post.author.display_name}}</p>
		<p>Title: {{post.title}}</p>
		<p>Description: {{post.description}}</p>
		<p>Content: {{post.content}}</p>
		<p>Published: {{post.published}}</p>
	</div>
	{% endfor %}
</div>
{% else %}
<p>No posts in stream.</p>
{% endif %} {% endblock %}
