{% extends 'bettersocial/base.html' %}
{% block content %}

    {% load static %}
    <!-- Style Sheet and References -->
    <link rel="stylesheet" type="text/css" href="{% static 'bettersocial/stream.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bettersocial/post-preview.css' %}">
    <script type="text/javascript" src="{% static "libs/purify.min.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

    <script type="text/javascript" src="{% static "bettersocial/ajax.js" %}"></script>

    <script>
        // TODO: Schedule
        window.onload = () => getAllPosts('{{ user.author.uuid.hex }}');
    </script>

    <div id="stream_items">
        <p>No posts in stream.</p>
    </div>

{% endblock %}
